services:
  cogni-dev:
    build:
      context: .
    image: ghcr.io/multifacs/cogni-test-dev:latest
    profiles:
      - "dev"
    container_name: cogni-test-dev
    restart: always
    ports:
      - "443:443"
    volumes:
      - /etc/ssl/private/cogni-test.ru_private_key.pem:/etc/ssl/private/cogni-test.ru_private_key.pem:ro
      - /etc/ssl/certs/cogni-test.ru_cert.pem:/etc/ssl/certs/cogni-test.ru_cert.pem:ro
    stdin_open: true  # -i
    tty: true         # -t

  cogni:
    build:
      context: .
    image: ghcr.io/multifacs/cogni-test:latest
    profiles:
      - "prod"
    container_name: cogni-test
    restart: always
    ports:
      - "443:443"
    volumes:
      - /etc/ssl/private/cogni-test.ru_private_key.pem:/etc/ssl/private/cogni-test.ru_private_key.pem:ro
      - /etc/ssl/certs/cogni-test.ru_cert.pem:/etc/ssl/certs/cogni-test.ru_cert.pem:ro
    stdin_open: true  # -i
    tty: true         # -t

  drizzle-gateway:
    image: ghcr.io/drizzle-team/gateway:latest
    container_name: drizzle-gate
    restart: always
    ports:
      - "4983:4983"
    environment:
      - PORT=4983
      - STORE_PATH=/database
      - MASTERPASS=2001nikita  # Change this!
    volumes:
      - drizzle-gateway:/app
      - /root/cogni-data:/database  # Mount your DB folder as read-only

volumes:
  drizzle-gateway:  # Named volume for Drizzle Gateway config