name: Build and Push Cogni-Test PROD

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./apps/cogni-test
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/app:latest
          build-args: |
            PUBLIC_VAPID_SUBJECT=${{ secrets.PUBLIC_VAPID_SUBJECT }}
            PUBLIC_VAPID_KEY=${{ secrets.PUBLIC_VAPID_KEY }}
            PRIVATE_VAPID_KEY=${{ secrets.PRIVATE_VAPID_KEY }}
            MODE=PROD
            BUILD=node